# External API for live LoRa telemetry
# e.g. https://lora.derekrgreene.com/api/live
LIVE_URL=

# CORS allowed origins
ALLOWED_ORIGINS=*

# SQLite database filename
DB_NAME=lora.db

# Clerk JWT issuer
CLERK_JWT_ISSUER=https://growing-midge-79.clerk.accounts.dev
